body{
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
}

.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin: auto;
    padding: 20px;
}

.articlesTable th,td{
    padding: 10px;
}


.articlesTable a{
    text-decoration: none;
    color: black;
}

.categoriesContainer a{
    text-decoration: none;
    color: black;
}
.articles{
    text-align: center;
}

.message{
    text-align: center;
    padding: 20px;
    height: 80vh;
}

.articlesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

.categoriesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    font-size: large;
}