body{
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
}

img{
    width: 300px;
    height:300px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 110vh;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}
label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

/* Input and textarea styles */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.errContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

.errContainer a {
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-weight: 600;
}
.articleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin: auto;
    padding: 20px;
}

.articlesTable th,td{
    padding: 10px;
}


.articlesTable a{
    text-decoration: none;
    color: black;
}

.categoriesContainer a{
    text-decoration: none;
    color: black;
}
.articles{
    text-align: center;
}

.message{
    text-align: center;
    padding: 20px;
    height: 80vh;
}

.articlesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

.categoriesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    font-size: large;
}